# Mandatory info for starting the app
REACT_APP_MORALIS_APPLICATION_ID = Your_appID_on_Moralis_Server => djkafakuiwejkkadksdlJHAkwjkajjk
REACT_APP_MORALIS_SERVER_URL =  Your_App_Url_on_Moralis_Server => https://xxxxxxxxxxxx.usemoralis.com:2053/server

# Optional info for connecting your localChain and Moralis Database
moralisApiKey = xxxxx
moralisApiSecret = xxxxxxx
frpcPath = F:\frpc\frpc.exe
chain = ganache
moralisSubdomain = xxxxxxx.usemoralis.com
abiPath = "F:\ethereum-boilerplate\Truffle\build\contracts\Contract.json"